Repository w3c/web-roadmaps, pull requests merged in 2018-08, with the labels that each got.

#298 [Mobile] Fix reference to CSS contain property
  mobile/performance.html
Labels: bug, mobile-roadmap

#299 [mobile] Mention CSS Animation Worklet API
  data/animation-worklet.json
  mobile/performance.html
Labels: mobile-roadmap

#300 [Mobile] Mention overscroll-behavior
  data/css-overscroll-behavior.json
  mobile/performance.html
Labels: enhancement, mobile-roadmap

#301 [Mobile] Create change history for July 2018 snapshot
  mobile/about.html
  mobile/about.zh.html
Labels: mobile-roadmap

#302 [SDW] First draft of Spatial data on the Web roadmap
  README.md
  assets/img/sdw-capture.png
  assets/img/sdw-publish.png
  assets/img/sdw-represent.png
  assets/img/sdw-transform.png
  data/cesium.json
  data/cityjson.json
  data/covjson.json
  data/dbpedia.json
  data/dwbp.json
  data/eo-qb.json
  data/geodcat-ap.json
  data/geohash.json
  data/geonames.json
  data/geosparql.json
  data/gml-sf.json
  data/gml.json
  data/iso-19156-2011.json
  data/kml.json
  data/locn.json
  data/mapml.json
  data/movingfeatures.json
  data/ogc-georss.json
  data/opensearchgeo.json
  data/owl-time.json
  data/qb4st.json
  data/rfc7946.json
  data/schema.org.json
  data/sdw-bp.json
  data/sfa.json
  data/sta-sensing.json
  data/stats-bp.json
  data/topojson.json
  data/tsml.json
  data/tsprofile.json
  data/vcard-rdf.json
  data/vector-tiling-er.json
  data/vocab-data-cube.json
  data/vocab-dcat-2.json
  data/vocab-dcat.json
  data/vocab-ssn.json
  data/w3c-basic-geo.json
  data/wcs.json
  data/webvmt.json
  data/wfs3.json
  data/wikidata.json
  data/wms.json
  data/wmts.json
  data/wot-architecture.json
  data/wot-thing-description.json
  data/wps.json
  sdw/about.html
  sdw/capture.html
  sdw/index.html
  sdw/publish.html
  sdw/represent.html
  sdw/toc.json
  sdw/transform.html
  tools/extract-spec-data.js
Labels: spatial-data-roadmap

#305 [Media] Update TTWG deliverables in rendering page
  data/ttml-imsc1.json
  media/rendering.html
Labels: media-roadmap

#307 [mobile] Rename web-lifecycle to page-lifecycle
  data/page-lifecycle.json
  data/web-lifecycle.json
  mobile/lifecycle.html
  mobile/lifecycle.zh.html
Labels: mobile-roadmap

#306 [Media] Misc updates on WebXR, MSE v2, Media Timed Events, WebRTC
  data/me-media-timed-events.json
  data/mse-v2.json
  media/control.html
  media/distribution.html
  media/processing.html
  media/synchronized.html
Labels: media-roadmap
