Repository w3c/web-roadmaps, pull requests merged in 2018-03, with the labels that each got.

#178 [Mobile] Mention Web Share API and Web Share Target API
  data/web-share-target.json
  data/web-share.json
  mobile/lifecycle.html
Labels: mobile-roadmap

#179 [Mobile] Mention the CSS box-sizing property
  data/css-ui-box-sizing.json
  mobile/graphics.html
Labels: mobile-roadmap

#180 [Mobile] Mention Requesting/Revoking permissions specs
  data/epr.json
  data/permissions-request.json
  data/permissions-revoke.json
  data/permissions.json
  mobile/security.html
Labels: mobile-roadmap

#181 [Mobile] Mention Feature Policy
  data/feature-policy.json
  mobile/security.html
Labels: mobile-roadmap

#182 [Data] Force Webkit status for Presentation API
  data/secondscreen.json
  tools/extract-impl-data.py
Labels: framework

#187 [Mobile] Mark humidity, thermometer, barometer proposals as discontinued
  data/barometer.json
  data/thermometer.json
  mobile/sensors.html
Labels: mobile-roadmap

#190 [mobile] Move requestIdleCallback to well-deployed
  mobile/performance.html
Labels: mobile-roadmap

#186 Fix Ambient light API implementation status in Firefox and Edge
  README.md
  data/ambientlight.json
  data/secondscreen.json
  tools/extract-impl-data.py
Labels: framework, mobile-roadmap

#189 [mobile] Update the links to HTML 5.2
  data/animation-frames.json
  data/audio.json
  data/autocomplete.json
  data/datalist.json
  data/html5-download.json
  data/htmlmediaelement.json
  data/inputdate.json
  data/inputhint.json
  data/inputpattern.json
  data/inputtext.json
  data/online.json
  data/picture.json
  data/srcset.json
  data/timeupdate.json
  data/video.json
  mobile/forms.html
  mobile/storage.html
Labels: mobile-roadmap

#192 [Mobile] Fix proximity sensor implementation status
  data/proximity.json
Labels: mobile-roadmap

#195 [Mobile] Mention element queries in device adaptation
  data/element-queries.json
  mobile/adaptation.html
Labels: mobile-roadmap

#194 [Mobile] Update text on WOFF, mention variable fonts
  data/css-fonts-variable.json
  mobile/graphics.html
Labels: mobile-roadmap

#196 [mobile] Refine the downloadable fonts feature
  data/css-font-display.json
  data/css-font-loading.json
  mobile/graphics.html
Labels: mobile-roadmap

#198 [Mobile] Mention streams in Network
  data/streams.json
  mobile/network.html
Labels: mobile-roadmap

#199 [Mobile] Replace WebVR by WebXR in the media page
  data/webvr.json
  data/webxr.json
  mobile/media.html
Labels: mobile-roadmap

#200 [mobile] Refine the data for the Graphics and Layout section
  data/animation-frames.json
  data/canvas.json
  data/css-3d.json
  data/css-animations.json
  data/css-border-radius.json
  data/css-box-shadow.json
  data/screen-orientation.json
  data/svg2.json
  data/web-animations.json
  media/synchronized.html
  mobile/graphics.html
  publishing/media_overlay.html
Labels: mobile-roadmap

#201 [Mobile] Update accessibility part in User input
  data/atag20.json
  data/mobile-accessibility-mapping.json
  data/mwbp-wcag.json
  data/uaag20-reference.json
  data/uaag20.json
  data/wai-aria11.json
  mobile/toc.json
  mobile/userinput.html
Labels: mobile-roadmap

#202 [Media] Replace WebVR by WebXR
  data/webxr.json
  media/rendering.html
Labels: media-roadmap

#205 [Mobile] Target WAI-ARIA 1.1 instead of WAI-ARIA 1.0
  data/wai-aria.json
  mobile/userinput.html
  mobile/userinput.zh.html
Labels: mobile-roadmap
