Repository w3c/web-roadmaps, pull requests merged in 2018-12, with the labels that each got.

#325 s/Picture in Picture/Picture-in-Picture/g
  js/translations.zh.json
  media/rendering.html
  mobile/media.html
Labels: media-roadmap, mobile-roadmap

#337 [Mobile] Move Budget API to Discontinued features section
  mobile/lifecycle.html
Labels: mobile-roadmap

#342 [data] Update URL and title of Event Timing API
  data/event-timing.json
Labels: mobile-roadmap

#343 Generate group info automatically from publisher when possible
  data/element-queries.json
  data/event-timing.json
  data/fetch.json
  data/fullscreen.json
  data/mse-v2.json
  data/permissions-request.json
  data/permissions-revoke.json
  data/priority-hints.json
  data/storage.json
  data/streams.json
  data/xhr.json
  tools/extract-spec-data.js
Labels: framework

#339 [mobile] Mention Scroll-linked Animations
  data/scroll-animations.json
  mobile/graphics.html
Labels: mobile-roadmap

#340 [mobile] Mention CSS Painting API
  data/css-paint-api.json
  mobile/graphics.html
Labels: mobile-roadmap

#341 [mobile] Mention background operations of geolocation-sensor
  games/lifecycle.html
  mobile/sensors.html
Labels: mobile-roadmap

#349 [Framework] Associate "github.com/WICG/" URLs with WICG
  data/packaging.json
  data/spatial-navigation.json
  tools/extract-spec-data.js
Labels: framework

#344 [Mobile] Mention Portals
  data/portals.json
  mobile/lifecycle.html
Labels: mobile-roadmap

#345 [Mobile] Mention Display Locking
  data/display-locking.json
  mobile/performance.html
Labels: mobile-roadmap

#347 [Mobile] Mention WebHID
  data/webhid.json
  mobile/userinput.html
Labels: mobile-roadmap

#353 [Mobile] Mention Writable Files
  data/writable-files.json
  mobile/storage.html
Labels: mobile-roadmap

#356 [Media] [Mobile] Mention Autoplay Policy
  data/autoplay.json
  media/control.html
  mobile/media.html
Labels: media-roadmap, mobile-roadmap

#357 [Mobile] Create change history for December 2018 snapshot
  mobile/about.html
Labels: mobile-roadmap
