Repository w3c/web-roadmaps, pull requests merged in 2019-07, with the labels that each got.

#398 Update the URL and shortname for css-overscroll
  data/css-overscroll.json
  games/performance.html
  games/performance.ja.html
  mobile/performance.html
  mobile/performance.zh.html
Labels: game-roadmap, mobile-roadmap

#399 Update the URL for CSS Animation Worklet API
  data/animation-worklet.json
  mobile/performance.html
  mobile/performance.zh.html
Labels: mobile-roadmap

#400 Changes as decided in SDWIG f2f
  data/csw.json
  sdw/about.html
  sdw/index.html
  sdw/publish.html
  sdw/write.html
Labels: spatial-data-roadmap

#401 [data] Update the URL for Web Speech API
  data/speech-api-recognition.json
  data/speech-api-synthesis.json
  data/speech-api.json
Labels: data
