Repository w3c/web-roadmaps, pull requests merged in 2020-09, with the labels that each got.

#480 Add more ids for the Chinese translation
  mobile/adaptation.zh.html
  mobile/forms.zh.html
  mobile/graphics.zh.html
  mobile/lifecycle.zh.html
  mobile/media.zh.html
  mobile/network.zh.html
  mobile/payment.zh.html
  mobile/performance.zh.html
  mobile/security.zh.html
  mobile/sensors.zh.html
  mobile/storage.zh.html
  mobile/userinput.zh.html
Labels: mobile-roadmap

#494 [Mobile] Update Device adaptation page
  data/html.json
  data/mediaqueries5.json
  data/ua-client-hints.json
  mobile/adaptation.html
Labels: mobile-roadmap

#495 [Mobile] Update Data Storage page
  data/storage-access.json
  data/storage-buckets.json
  mobile/storage.html
Labels: mobile-roadmap

#499 [mobile] Update Performance page
  data/main-thread-scheduling.json
  data/request-post-animation-frame.json
  mobile/performance.html
Labels: mobile-roadmap

#501 [Mobile] Mention guidelines docs in Security and Privacy
  mobile/security.html
Labels: mobile-roadmap

#503 Support the new Microsoft Edge in implementation status
  assets/impl/edge.png
  data/ambient-light.json
  data/mse.json
  data/webaudio.json
  tools/extract-impl-data.js
Labels: data, framework

#506 Chrome Platform Status: ignore prefixed/flag once shipped
  data/mse.json
  data/webaudio.json
  tools/extract-impl-data.js
Labels: framework

#507 [Mobile] Move WebTransport to spec in progress
  data/web-transport.json
  mobile/network.html
  mobile/network.zh.html
Labels: mobile-roadmap

#508 [Mobile] Add new privacy explorations
  data/first-party-sets.json
  data/is-logged-in.json
  data/js-membranes.json
  data/private-click-measurement.json
  data/sparrow.json
  data/trust-token-api.json
  data/turtledove.json
  mobile/security.html
  tools/extract-impl-data.js
Labels: mobile-roadmap

#509 [Mobile] Mention Web Monetization in Payment and Services page
  data/web-monetization.json
  mobile/payment.html
Labels: mobile-roadmap

#511 [Mobile] Add new page to list features mentioned per group
  js/generate-utils.js
  js/template-groups.zh.html
  mobile/about.html
  mobile/groups.html
  mobile/groups.zh.html
Labels: mobile-roadmap
