Repository w3c/web-roadmaps, pull requests merged in 2020-02, with the labels that each got.

#445 [media] Refactor app dev section into device interoperability
  assets/img/media-app.svg
  media/apps.html
  media/distribution.html
Labels: media-roadmap

#446 [data] Update the URL of Resize Observer
  data/resize-observer.json
Labels: data

#450 Add createFeatureSections param and enable it in mobile roadmap
  README.md
  assets/css/roadmap.css
  assets/css/theme.css
  js/generate-utils.js
  mobile/forms.html
  mobile/forms.zh.html
  mobile/graphics.html
  mobile/graphics.zh.html
  mobile/media.html
  mobile/media.zh.html
  mobile/payment.html
  mobile/payment.zh.html
  mobile/sensors.html
  mobile/sensors.zh.html
  mobile/toc.json
Labels: framework, mobile-roadmap

#451 [media] Update interoperability page title and description in TOC
  media/toc.json
Labels: bug, media-roadmap
